In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
import pandas as pd
import pyspark
from pyspark import SparkContext
from pyspark.sql import SQLContext 
sc = SparkContext("local", "App Name")
sql = SQLContext(sc)
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

C:\bigdatasetup\spark\python\pyspark\sql\context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [4]:
spark = SparkSession.builder.appName('Pizza').getOrCreate()

In [5]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType, TimestampType

In [6]:
from datetime import datetime
from pyspark.sql.functions import to_date

# df - Runners Dataframe

In [7]:
schema = StructType([
    StructField("runner_id", IntegerType(), True),
    StructField("registration_date", StringType(), True)
])

In [8]:
data = [(1, '2021-01-01'),
        (2, '2021-01-03'),
        (3, '2021-01-08'),
        (4, '2021-01-15')]

In [9]:
df = spark.createDataFrame(data, schema)

In [10]:
df = df.withColumn("registration_date", to_date("registration_date"))
df.printSchema()

root
 |-- runner_id: integer (nullable = true)
 |-- registration_date: date (nullable = true)

# Runners Dataframe

In [11]:
df.show()

+---------+-----------------+
|runner_id|registration_date|
+---------+-----------------+
|        1|       2021-01-01|
|        2|       2021-01-03|
|        3|       2021-01-08|
|        4|       2021-01-15|
+---------+-----------------+

# df1 - customer_orders Dataframe

In [12]:
data1 =[('1', '101', '1', '', '', '2020-01-01 18:05:02'),
  ('2', '101', '1', '', '', '2020-01-01 19:00:52'),
  ('3', '102', '1', '', '', '2020-01-02 23:51:23'),
  ('3', '102', '2', '','null', '2020-01-02 23:51:23'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '2', '4', '', '2020-01-04 13:23:46'),
  ('5', '104', '1', 'null', '1', '2020-01-08 21:00:29'),
  ('6', '101', '2', 'null', 'null', '2020-01-08 21:03:13'),
  ('7', '105', '2', 'null', '1', '2020-01-08 21:20:29'),
  ('8', '102', '1', 'null', 'null', '2020-01-09 23:54:33'),
  ('9', '103', '1', '4', '1, 5', '2020-01-10 11:22:59'),
  ('10', '104', '1', 'null', 'null', '2020-01-11 18:34:49'),
  ('10', '104', '1', '2, 6', '1, 4', '2020-01-11 18:34:49')]

In [13]:
schema1 = schema = StructType([
    StructField("order_id", StringType(), True),
    StructField("customer_id",StringType(), True),
    StructField("pizza_id",StringType(), True),
    StructField("exclusions", StringType(), True),
    StructField("extras", StringType(), True),
    StructField("order_time", StringType(), True)
])

In [14]:
df1 = spark.createDataFrame(data1, schema1)
df1= df1.na.fill("0")
df1.printSchema()

root
 |-- order_id: string (nullable = false)
 |-- customer_id: string (nullable = false)
 |-- pizza_id: string (nullable = false)
 |-- exclusions: string (nullable = false)
 |-- extras: string (nullable = false)
 |-- order_time: string (nullable = false)

In [15]:
from pyspark.sql.functions import col, to_timestamp

df1 = df1.withColumn("order_id", col("order_id").cast("int"))
df1 = df1.withColumn("customer_id", col("customer_id").cast("int"))
df1 = df1.withColumn("pizza_id", col("pizza_id").cast("int"))
df1 = df1.withColumn("order_time", to_timestamp("order_time"))

# customer_orders Dataframe

In [16]:
df1.show()
df1.printSchema()

+--------+-----------+--------+----------+------+-------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|
+--------+-----------+--------+----------+------+-------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|
|       2|        101|       1|          |      |2020-01-01 19:00:52|
|       3|        102|       1|          |      |2020-01-02 23:51:23|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|
+--------+-----------+--------+----------+------+-------------------+

root
 |-- order_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- pizza_id: integer (nullable = true)
 |-- exclusions: string (nullable = false)
 |-- extras: string (nullable = false)
 |-- order_time: timestamp (nullable = true)

In [17]:
df1= df1.na.fill("")
df1.show()

+--------+-----------+--------+----------+------+-------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|
+--------+-----------+--------+----------+------+-------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|
|       2|        101|       1|          |      |2020-01-01 19:00:52|
|       3|        102|       1|          |      |2020-01-02 23:51:23|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|
+--------+-----------+--------+----------+------+-------------------+

# df2 - runner_orders

In [18]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, TimestampType

data2 = [('1', '1', '2020-01-01 18:15:34', '20km', '32 minutes', ''),
  ('2', '1', '2020-01-01 19:10:54', '20km', '27 minutes', ''),
  ('3', '1', '2020-01-03 00:12:37', '13.4km', '20 mins', None),
  ('4', '2', '2020-01-04 13:53:03', '23.4', '40', None),
  ('5', '3', '2020-01-08 21:10:57', '10', '15', None),
  ('6', '3', None, None, None, 'Restaurant Cancellation'),
  ('7', '2', '2020-01-08 21:30:45', '25km', '25mins', 'null'),
  ('8', '2', '2020-01-10 00:15:02', '23.4 km', '15 minute', 'null'),
  ('9', '2', None, None, None, 'Customer Cancellation'),
  ('10', '1', '2020-01-11 18:50:20', '10km', '10minutes', 'null')]

schema2 = StructType([
    StructField("order_id", StringType(), True),
    StructField("runner_id", StringType(), True),
    StructField("pickup_time", StringType(), True),
    StructField("distance", StringType(), True),
    StructField("duration", StringType(), True),
    StructField("cancellation", StringType(), True)
])

df2 = spark.createDataFrame(data2, schema=schema2)
df2.show()

+--------+---------+-------------------+--------+----------+--------------------+
|order_id|runner_id|        pickup_time|distance|  duration|        cancellation|
+--------+---------+-------------------+--------+----------+--------------------+
|       1|        1|2020-01-01 18:15:34|    20km|32 minutes|                    |
|       2|        1|2020-01-01 19:10:54|    20km|27 minutes|                    |
|       3|        1|2020-01-03 00:12:37|  13.4km|   20 mins|                null|
|       4|        2|2020-01-04 13:53:03|    23.4|        40|                null|
|       5|        3|2020-01-08 21:10:57|      10|        15|                null|
|       6|        3|               null|    null|      null|Restaurant Cancel...|
|       7|        2|2020-01-08 21:30:45|    25km|    25mins|                null|
|       8|        2|2020-01-10 00:15:02| 23.4 km| 15 minute|                null|
|       9|        2|               null|    null|      null|Customer Cancella...|
|      10|        1|2020-01-11 18:50:20|    10km| 10minutes|                null|
+--------+---------+-------------------+--------+----------+--------------------+

In [19]:
df2.show()

+--------+---------+-------------------+--------+----------+--------------------+
|order_id|runner_id|        pickup_time|distance|  duration|        cancellation|
+--------+---------+-------------------+--------+----------+--------------------+
|       1|        1|2020-01-01 18:15:34|    20km|32 minutes|                    |
|       2|        1|2020-01-01 19:10:54|    20km|27 minutes|                    |
|       3|        1|2020-01-03 00:12:37|  13.4km|   20 mins|                null|
|       4|        2|2020-01-04 13:53:03|    23.4|        40|                null|
|       5|        3|2020-01-08 21:10:57|      10|        15|                null|
|       6|        3|               null|    null|      null|Restaurant Cancel...|
|       7|        2|2020-01-08 21:30:45|    25km|    25mins|                null|
|       8|        2|2020-01-10 00:15:02| 23.4 km| 15 minute|                null|
|       9|        2|               null|    null|      null|Customer Cancella...|
|      10|        1|2020-01-11 18:50:20|    10km| 10minutes|                null|
+--------+---------+-------------------+--------+----------+--------------------+

# runner_orders

In [20]:
from pyspark.sql.functions import regexp_replace, trim
df2 = df2.selectExpr(
    "order_id",
    "runner_id",
    "pickup_time",
    "CASE WHEN distance LIKE '%km' THEN TRIM(BOTH 'km' FROM distance) ELSE distance END AS distance",
    "CASE WHEN duration LIKE '%minutes' THEN TRIM(BOTH 'minutes' FROM duration) "
    "WHEN duration LIKE '%mins' THEN TRIM(BOTH 'mins' FROM duration) "
    "WHEN duration LIKE '%minute' THEN TRIM(BOTH 'minute' FROM duration) ELSE duration END AS duration",
    "cancellation"
)


df2.show()
df2.printSchema()

+--------+---------+-------------------+--------+--------+--------------------+
|order_id|runner_id|        pickup_time|distance|duration|        cancellation|
+--------+---------+-------------------+--------+--------+--------------------+
|       1|        1|2020-01-01 18:15:34|      20|     32 |                    |
|       2|        1|2020-01-01 19:10:54|      20|     27 |                    |
|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                null|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|
|       5|        3|2020-01-08 21:10:57|      10|      15|                null|
|       6|        3|               null|    null|    null|Restaurant Cancel...|
|       7|        2|2020-01-08 21:30:45|      25|      25|                null|
|       8|        2|2020-01-10 00:15:02|   23.4 |     15 |                null|
|       9|        2|               null|    null|    null|Customer Cancella...|
|      10|        1|2020-01-11 18:50:20|      10|      10|                null|
+--------+---------+-------------------+--------+--------+--------------------+

root
 |-- order_id: string (nullable = true)
 |-- runner_id: string (nullable = true)
 |-- pickup_time: string (nullable = true)
 |-- distance: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- cancellation: string (nullable = true)

# pizza_names

In [21]:
data3 = [(1, 'Meatlovers'), (2, 'Vegetarian')]

In [22]:
df3 = spark.createDataFrame(data3, schema=["pizza_id", "pizza_name"])

# pizza_names

In [23]:
df3.show()

+--------+----------+
|pizza_id|pizza_name|
+--------+----------+
|       1|Meatlovers|
|       2|Vegetarian|
+--------+----------+

# pizza_recipes

In [24]:
data4= [(1, '1, 2, 3, 4, 5, 6, 8, 10'),
  (2, '4, 6, 7, 9, 11, 12')]

In [25]:
df4 = spark.createDataFrame(data4, schema=["pizza_id", "toppings"])
df4.show()
df4.printSchema()

+--------+--------------------+
|pizza_id|            toppings|
+--------+--------------------+
|       1|1, 2, 3, 4, 5, 6,...|
|       2|  4, 6, 7, 9, 11, 12|
+--------+--------------------+

root
 |-- pizza_id: long (nullable = true)
 |-- toppings: string (nullable = true)

# df5 pizza_toppings

In [26]:
data5 = [
    (1, 'Bacon'),
    (2, 'BBQ Sauce'),
    (3, 'Beef'),
    (4, 'Cheese'),
    (5, 'Chicken'),
    (6, 'Mushrooms'),
    (7, 'Onions'),
    (8, 'Pepperoni'),
    (9, 'Peppers'),
    (10, 'Salami'),
    (11, 'Tomatoes'),
    (12, 'Tomato Sauce')
]

In [27]:
df5 = spark.createDataFrame(data5, ["topping_id", "topping_name"])

# pizza_toppings

In [28]:
df5.show()
df5.printSchema()

+----------+------------+
|topping_id|topping_name|
+----------+------------+
|         1|       Bacon|
|         2|   BBQ Sauce|
|         3|        Beef|
|         4|      Cheese|
|         5|     Chicken|
|         6|   Mushrooms|
|         7|      Onions|
|         8|   Pepperoni|
|         9|     Peppers|
|        10|      Salami|
|        11|    Tomatoes|
|        12|Tomato Sauce|
+----------+------------+

root
 |-- topping_id: long (nullable = true)
 |-- topping_name: string (nullable = true)

# 1. How many pizzas were ordered?

In [29]:
df1.show()

+--------+-----------+--------+----------+------+-------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|
+--------+-----------+--------+----------+------+-------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|
|       2|        101|       1|          |      |2020-01-01 19:00:52|
|       3|        102|       1|          |      |2020-01-02 23:51:23|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|
+--------+-----------+--------+----------+------+-------------------+

In [30]:
from pyspark.sql.functions import count

Total_PZ_Odr = df1.select(count('order_id')).first()[0]
print(Total_PZ_Odr)

14

# 2. How many unique customer orders were made?

In [31]:
from pyspark.sql.functions import approx_count_distinct

Total_Orders = df1.select(approx_count_distinct('order_id')).first()[0]
print(Total_Orders)

10

# 3. How many successful orders were delivered by each runner?

In [32]:
df2.show()

+--------+---------+-------------------+--------+--------+--------------------+
|order_id|runner_id|        pickup_time|distance|duration|        cancellation|
+--------+---------+-------------------+--------+--------+--------------------+
|       1|        1|2020-01-01 18:15:34|      20|     32 |                    |
|       2|        1|2020-01-01 19:10:54|      20|     27 |                    |
|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                null|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|
|       5|        3|2020-01-08 21:10:57|      10|      15|                null|
|       6|        3|               null|    null|    null|Restaurant Cancel...|
|       7|        2|2020-01-08 21:30:45|      25|      25|                null|
|       8|        2|2020-01-10 00:15:02|   23.4 |     15 |                null|
|       9|        2|               null|    null|    null|Customer Cancella...|
|      10|        1|2020-01-11 18:50:20|      10|      10|                null|
+--------+---------+-------------------+--------+--------+--------------------+

In [33]:
from pyspark.sql.functions import count

df2.select('runner_id', 'order_id').filter(df2.distance.isNotNull()).groupBy('runner_id') \
   .agg(count('order_id').alias('OrdersDelivered')).sort("runner_id") \
   .show()

+---------+---------------+
|runner_id|OrdersDelivered|
+---------+---------------+
|        1|              4|
|        2|              3|
|        3|              1|
+---------+---------------+

# 4. How many of each type of pizza was delivered?

In [34]:
df3.show()

+--------+----------+
|pizza_id|pizza_name|
+--------+----------+
|       1|Meatlovers|
|       2|Vegetarian|
+--------+----------+

In [35]:
Del = df1.join(df2, df1.order_id == df2.order_id,how = 'inner')
Del.show()

+--------+-----------+--------+----------+------+-------------------+--------+---------+-------------------+--------+--------+--------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|order_id|runner_id|        pickup_time|distance|duration|        cancellation|
+--------+-----------+--------+----------+------+-------------------+--------+---------+-------------------+--------+--------+--------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|       1|        1|2020-01-01 18:15:34|      20|     32 |                    |
|       2|        101|       1|          |      |2020-01-01 19:00:52|       2|        1|2020-01-01 19:10:54|      20|     27 |                    |
|       3|        102|       1|          |      |2020-01-02 23:51:23|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                null|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                null|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|       5|        3|2020-01-08 21:10:57|      10|      15|                null|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|       6|        3|               null|    null|    null|Restaurant Cancel...|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|       7|        2|2020-01-08 21:30:45|      25|      25|                null|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|       8|        2|2020-01-10 00:15:02|   23.4 |     15 |                null|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|       9|        2|               null|    null|    null|Customer Cancella...|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|      10|        1|2020-01-11 18:50:20|      10|      10|                null|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|      10|        1|2020-01-11 18:50:20|      10|      10|                null|
+--------+-----------+--------+----------+------+-------------------+--------+---------+-------------------+--------+--------+--------------------+

In [36]:
Del1 = Del.join(df3, Del.pizza_id == df3.pizza_id,how = 'inner').select(Del["*"],df3["pizza_name"])
Del1.show()

+--------+-----------+--------+----------+------+-------------------+--------+---------+-------------------+--------+--------+--------------------+----------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|order_id|runner_id|        pickup_time|distance|duration|        cancellation|pizza_name|
+--------+-----------+--------+----------+------+-------------------+--------+---------+-------------------+--------+--------+--------------------+----------+
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|      10|        1|2020-01-11 18:50:20|      10|      10|                null|Meatlovers|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|      10|        1|2020-01-11 18:50:20|      10|      10|                null|Meatlovers|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|       9|        2|               null|    null|    null|Customer Cancella...|Meatlovers|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|       8|        2|2020-01-10 00:15:02|   23.4 |     15 |                null|Meatlovers|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|       5|        3|2020-01-08 21:10:57|      10|      15|                null|Meatlovers|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|Meatlovers|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|Meatlovers|
|       3|        102|       1|          |      |2020-01-02 23:51:23|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                null|Meatlovers|
|       2|        101|       1|          |      |2020-01-01 19:00:52|       2|        1|2020-01-01 19:10:54|      20|     27 |                    |Meatlovers|
|       1|        101|       1|          |      |2020-01-01 18:05:02|       1|        1|2020-01-01 18:15:34|      20|     32 |                    |Meatlovers|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|       7|        2|2020-01-08 21:30:45|      25|      25|                null|Vegetarian|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|       6|        3|               null|    null|    null|Restaurant Cancel...|Vegetarian|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|Vegetarian|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                null|Vegetarian|
+--------+-----------+--------+----------+------+-------------------+--------+---------+-------------------+--------+--------+--------------------+----------+

In [37]:
from pyspark.sql.functions import count


Del1.filter(df2.distance.isNotNull()) \
   .groupBy('pizza_name') \
   .agg(count('pizza_id').alias('TotalDelivered')) \
   .sort('TotalDelivered') \
   .show()

+----------+--------------+
|pizza_name|TotalDelivered|
+----------+--------------+
|Vegetarian|             3|
|Meatlovers|             9|
+----------+--------------+

# 5. How many Vegetarian and Meatlovers were ordered by each customer?

In [38]:
from pyspark.sql.functions import count


Del1.groupBy('customer_id','pizza_name') \
   .agg(count('pizza_id').alias('Total_PZ_Ordered')) \
   .sort('customer_id') \
   .show()

+-----------+----------+----------------+
|customer_id|pizza_name|Total_PZ_Ordered|
+-----------+----------+----------------+
|        101|Meatlovers|               2|
|        101|Vegetarian|               1|
|        102|Vegetarian|               1|
|        102|Meatlovers|               2|
|        103|Meatlovers|               3|
|        103|Vegetarian|               1|
|        104|Meatlovers|               3|
|        105|Vegetarian|               1|
+-----------+----------+----------------+

# 6. What was the maximum number of pizzas delivered in a single order?

In [39]:
Del2 = df2.join(df1, df2.order_id == df1.order_id,how = 'inner').select(df2["*"],df1["pizza_id"])
Del2.show()

+--------+---------+-------------------+--------+--------+--------------------+--------+
|order_id|runner_id|        pickup_time|distance|duration|        cancellation|pizza_id|
+--------+---------+-------------------+--------+--------+--------------------+--------+
|       1|        1|2020-01-01 18:15:34|      20|     32 |                    |       1|
|       2|        1|2020-01-01 19:10:54|      20|     27 |                    |       1|
|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                null|       1|
|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                null|       2|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|       1|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|       1|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                null|       2|
|       5|        3|2020-01-08 21:10:57|      10|      15|                null|       1|
|       6|        3|               null|    null|    null|Restaurant Cancel...|       2|
|       7|        2|2020-01-08 21:30:45|      25|      25|                null|       2|
|       8|        2|2020-01-10 00:15:02|   23.4 |     15 |                null|       1|
|       9|        2|               null|    null|    null|Customer Cancella...|       1|
|      10|        1|2020-01-11 18:50:20|      10|      10|                null|       1|
|      10|        1|2020-01-11 18:50:20|      10|      10|                null|       1|
+--------+---------+-------------------+--------+--------+--------------------+--------+

In [40]:
from pyspark.sql.functions import desc
Del2.filter(df2.distance.isNotNull()).groupBy('order_id').agg(count("pizza_id").alias("TotalDelivered")).orderBy(desc("TotalDelivered")).limit(1).show()

+--------+--------------+
|order_id|TotalDelivered|
+--------+--------------+
|       4|             3|
+--------+--------------+

### 7. For each customer, how many delivered pizzas had at least 1 change and how many had no changes?

In [41]:
JoinDF = df1.join(df2, df1.order_id == df2.order_id, how = 'inner').select(df1["*"],df2["distance"])
JoinDF.show()

+--------+-----------+--------+----------+------+-------------------+--------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|distance|
+--------+-----------+--------+----------+------+-------------------+--------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|      20|
|       2|        101|       1|          |      |2020-01-01 19:00:52|      20|
|       3|        102|       1|          |      |2020-01-02 23:51:23|    13.4|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|    13.4|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|    23.4|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|    23.4|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|    23.4|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|      10|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|    null|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|      25|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|   23.4 |
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|    null|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|      10|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|      10|
+--------+-----------+--------+----------+------+-------------------+--------+

In [42]:
JoinDF = JoinDF.withColumn("extras", regexp_replace("extras", "^\s*$", "0"))
JoinDF = JoinDF.withColumn("exclusions", regexp_replace("exclusions", "^\s*$", "0"))
JoinDF.show()

+--------+-----------+--------+----------+------+-------------------+--------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|distance|
+--------+-----------+--------+----------+------+-------------------+--------+
|       1|        101|       1|         0|     0|2020-01-01 18:05:02|      20|
|       2|        101|       1|         0|     0|2020-01-01 19:00:52|      20|
|       3|        102|       1|         0|     0|2020-01-02 23:51:23|    13.4|
|       3|        102|       2|         0|  null|2020-01-02 23:51:23|    13.4|
|       4|        103|       1|         4|     0|2020-01-04 13:23:46|    23.4|
|       4|        103|       1|         4|     0|2020-01-04 13:23:46|    23.4|
|       4|        103|       2|         4|     0|2020-01-04 13:23:46|    23.4|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|      10|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|    null|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|      25|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|   23.4 |
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|    null|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|      10|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|      10|
+--------+-----------+--------+----------+------+-------------------+--------+

In [43]:
from pyspark.sql.functions import when, col, sum

JoinDF1 = JoinDF.filter(df2.distance.isNotNull())\
            .select("customer_id", 
            when((col("exclusions").isNotNull() & (col("exclusions") != "0")) | (col("extras").isNotNull() & (col("extras") != "0")), 1)
            .otherwise(0)
            .alias("AtleastOneChange"),
            when((col("exclusions").isNull() | (col("exclusions") == "0")) & (col("extras").isNull() | (col("extras") == "0")), 1)
            .otherwise(0)
            .alias("NoChange"))

In [44]:
from pyspark.sql.functions import col, when, sum

result = JoinDF \
    .filter(df2.distance.isNotNull()) \
    .groupBy("customer_id") \
    .agg(
        sum(
            when((col("exclusions").isNotNull() & (col("exclusions") != "0")) | (col("extras").isNotNull() & (col("extras") != "0")), 1)
            .otherwise(0)
        ).alias("AtleastOneChange"),
        sum(
            when((col("exclusions").isNull() | (col("exclusions") == "0")) & (col("extras").isNull() | (col("extras") == "0")), 1)
            .otherwise(0)
        ).alias("NoChange")
    )

result.show()

+-----------+----------------+--------+
|customer_id|AtleastOneChange|NoChange|
+-----------+----------------+--------+
|        101|               0|       2|
|        103|               3|       0|
|        102|               2|       1|
|        105|               1|       0|
|        104|               3|       0|
+-----------+----------------+--------+

In [45]:
Joindf_grouped = JoinDF1.groupBy("customer_id").agg(sum("AtleastOneChange").alias("AtleastOneChange"), sum("NoChange").alias("NoChange"))
Joindf_grouped.show()

+-----------+----------------+--------+
|customer_id|AtleastOneChange|NoChange|
+-----------+----------------+--------+
|        101|               0|       2|
|        103|               3|       0|
|        102|               2|       1|
|        105|               1|       0|
|        104|               3|       0|
+-----------+----------------+--------+

# 8. How many pizzas were delivered that had both exclusions and extras?

In [46]:
JoinDF.show()
JoinDF.printSchema()

+--------+-----------+--------+----------+------+-------------------+--------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|distance|
+--------+-----------+--------+----------+------+-------------------+--------+
|       1|        101|       1|         0|     0|2020-01-01 18:05:02|      20|
|       2|        101|       1|         0|     0|2020-01-01 19:00:52|      20|
|       3|        102|       1|         0|     0|2020-01-02 23:51:23|    13.4|
|       3|        102|       2|         0|  null|2020-01-02 23:51:23|    13.4|
|       4|        103|       1|         4|     0|2020-01-04 13:23:46|    23.4|
|       4|        103|       1|         4|     0|2020-01-04 13:23:46|    23.4|
|       4|        103|       2|         4|     0|2020-01-04 13:23:46|    23.4|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|      10|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|    null|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|      25|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|   23.4 |
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|    null|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|      10|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|      10|
+--------+-----------+--------+----------+------+-------------------+--------+

root
 |-- order_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- pizza_id: integer (nullable = true)
 |-- exclusions: string (nullable = false)
 |-- extras: string (nullable = false)
 |-- order_time: timestamp (nullable = true)
 |-- distance: string (nullable = true)

In [47]:
from pyspark.sql.functions import col, when, sum

result1 = JoinDF \
    .filter(col("distance") != 0) \
    .groupBy("customer_id") \
    .agg(
        sum(
            when(col("exclusions").isNotNull() & (col("exclusions") != "0") & col("extras").isNotNull() & (col("extras") != "0"), 1)
            .otherwise(0)
        ).alias("BothExclusionExtra")
    ) \
    .orderBy(col("BothExclusionExtra").desc())

In [48]:
result1.show()

+-----------+------------------+
|customer_id|BothExclusionExtra|
+-----------+------------------+
|        104|                 3|
|        105|                 1|
|        102|                 1|
|        101|                 0|
|        103|                 0|
+-----------+------------------+

# 9.What was the total volume of pizzas ordered for each hour of the day?

In [49]:
from pyspark.sql.functions import col, count, hour

Total_Vol = JoinDF \
    .select(hour("order_time").alias("Hour_data"), col("order_id")) \
    .groupBy("Hour_data") \
    .agg(count("order_id").alias("Total_Pizza_Ordered")) \
    .orderBy("Hour_data")

Total_Vol.show()

+---------+-------------------+
|Hour_data|Total_Pizza_Ordered|
+---------+-------------------+
|       11|                  1|
|       13|                  3|
|       18|                  3|
|       19|                  1|
|       21|                  3|
|       23|                  3|
+---------+-------------------+

# 10. What was the volume of orders for each day of the week?

In [50]:
from pyspark.sql.functions import col, count, dayofweek, date_format
Vol_Orders_Day = JoinDF \
    .select(date_format("order_time",'EEEE').alias("Day_Data"), col("order_id")) \
    .groupBy("Day_Data") \
    .agg(count("order_id").alias("Total_Pizza_Ordered")) \
    .orderBy(col("Total_Pizza_Ordered").desc())

Vol_Orders_Day.show()

+---------+-------------------+
| Day_Data|Total_Pizza_Ordered|
+---------+-------------------+
|Wednesday|                  5|
| Saturday|                  5|
| Thursday|                  3|
|   Friday|                  1|
+---------+-------------------+

# Part 2

### 1. How many runners signed up for each 1 week period? (i.e. week starts 2021-01-01)

In [51]:
df.show()

+---------+-----------------+
|runner_id|registration_date|
+---------+-----------------+
|        1|       2021-01-01|
|        2|       2021-01-03|
|        3|       2021-01-08|
|        4|       2021-01-15|
+---------+-----------------+

In [52]:
from pyspark.sql.functions import col, count, dayofweek, date_format
from pyspark.sql.functions import date_trunc, countDistinct

Run_SingedUP1 = df \
              .select(date_trunc("week", "registration_date").alias("week_start"), col("runner_id")) \
              .groupBy("week_start") \
              .agg(countDistinct("runner_id").alias("number_runners")) \
              .orderBy("week_start")
Run_SingedUP1.show()

+-------------------+--------------+
|         week_start|number_runners|
+-------------------+--------------+
|2020-12-28 00:00:00|             2|
|2021-01-04 00:00:00|             1|
|2021-01-11 00:00:00|             1|
+-------------------+--------------+

#### 2. What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order ?

In [53]:
Part2 = df2.join(df1, df2.order_id == df1.order_id,how = 'inner').select(df2["*"],df1["order_time"])
Part2 = Part2.fillna("0")
Part2.show()

+--------+---------+-------------------+--------+--------+--------------------+-------------------+
|order_id|runner_id|        pickup_time|distance|duration|        cancellation|         order_time|
+--------+---------+-------------------+--------+--------+--------------------+-------------------+
|       1|        1|2020-01-01 18:15:34|      20|     32 |                    |2020-01-01 18:05:02|
|       2|        1|2020-01-01 19:10:54|      20|     27 |                    |2020-01-01 19:00:52|
|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                   0|2020-01-02 23:51:23|
|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                   0|2020-01-02 23:51:23|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                   0|2020-01-04 13:23:46|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                   0|2020-01-04 13:23:46|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                   0|2020-01-04 13:23:46|
|       5|        3|2020-01-08 21:10:57|      10|      15|                   0|2020-01-08 21:00:29|
|       6|        3|                  0|       0|       0|Restaurant Cancel...|2020-01-08 21:03:13|
|       7|        2|2020-01-08 21:30:45|      25|      25|                null|2020-01-08 21:20:29|
|       8|        2|2020-01-10 00:15:02|   23.4 |     15 |                null|2020-01-09 23:54:33|
|       9|        2|                  0|       0|       0|Customer Cancella...|2020-01-10 11:22:59|
|      10|        1|2020-01-11 18:50:20|      10|      10|                null|2020-01-11 18:34:49|
|      10|        1|2020-01-11 18:50:20|      10|      10|                null|2020-01-11 18:34:49|
+--------+---------+-------------------+--------+--------+--------------------+-------------------+

In [54]:
from pyspark.sql.functions import avg, round, expr

AVg = Part2 \
    .groupBy("runner_id") \
    .agg(round(avg(expr("timestampdiff(minute, order_time, pickup_time)")), 2).alias("AvgTime")) \
    .orderBy("AvgTime")

AVg.show()

+---------+-------+
|runner_id|AvgTime|
+---------+-------+
|        3|   10.0|
|        1|  15.33|
|        2|   23.4|
+---------+-------+

#### 3. Is there any relationship between the number of pizzas and how long the order takes to prepare?

In [55]:
from pyspark.sql.functions import avg, round, expr

Rn = Part2 \
    .filter(col("distance") != "0") \
    .groupBy("order_id") \
    .agg(count("order_id").alias("PizzaCount"),round(avg(expr("timestampdiff(minute, order_time, pickup_time)")), 2).alias("AvgTime")) \
    .orderBy("AvgTime")
Rn.show()

+--------+----------+-------+
|order_id|PizzaCount|AvgTime|
+--------+----------+-------+
|       7|         1|   10.0|
|       5|         1|   10.0|
|       1|         1|   10.0|
|       2|         1|   10.0|
|      10|         2|   15.0|
|       8|         1|   20.0|
|       3|         2|   21.0|
|       4|         3|   29.0|
+--------+----------+-------+

In [56]:
from pyspark.sql.functions import avg, round, expr

Rn = Part2 \
    .filter(col("distance") != "0") \
    .groupBy("order_id") \
    .agg(count("order_id").alias("PizzaCount"),round(avg(expr("timestampdiff(minute, order_time, pickup_time)")), 2).alias("AvgTime")) \
    .orderBy("AvgTime")

Rn1 = Rn \
    .groupBy("PizzaCount") \
    .agg(expr("first(Avgtime)").alias("Avgtime")) \
    .orderBy("PizzaCount")

Rn1.show()

+----------+-------+
|PizzaCount|Avgtime|
+----------+-------+
|         1|   10.0|
|         2|   15.0|
|         3|   29.0|
+----------+-------+

# 4. What was the average distance travelled for each customer?

In [57]:
New = df1.join(df2, df1.order_id == df2.order_id,how = 'inner').select(df1["*"],df2["distance"], df2["pickup_time"])
New = New.fillna("0")
New.show()

+--------+-----------+--------+----------+------+-------------------+--------+-------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|distance|        pickup_time|
+--------+-----------+--------+----------+------+-------------------+--------+-------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|      20|2020-01-01 18:15:34|
|       2|        101|       1|          |      |2020-01-01 19:00:52|      20|2020-01-01 19:10:54|
|       3|        102|       1|          |      |2020-01-02 23:51:23|    13.4|2020-01-03 00:12:37|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|    13.4|2020-01-03 00:12:37|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|    23.4|2020-01-04 13:53:03|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|    23.4|2020-01-04 13:53:03|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|    23.4|2020-01-04 13:53:03|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|      10|2020-01-08 21:10:57|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|       0|                  0|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|      25|2020-01-08 21:30:45|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|   23.4 |2020-01-10 00:15:02|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|       0|                  0|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|      10|2020-01-11 18:50:20|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|      10|2020-01-11 18:50:20|
+--------+-----------+--------+----------+------+-------------------+--------+-------------------+

In [58]:
from pyspark.sql.functions import avg, round

AvgDistance = New \
            .filter(col("distance") != "0") \
            .groupBy("customer_id") \
            .agg(round(avg("distance"), 2).alias("avg_distance"))

AvgDistance.show()

+-----------+------------+
|customer_id|avg_distance|
+-----------+------------+
|        101|        20.0|
|        103|        23.4|
|        102|       16.73|
|        105|        25.0|
|        104|        10.0|
+-----------+------------+

#### 5. What was the difference between the longest and shortest delivery times for all orders?

In [59]:
from pyspark.sql.functions import col



# convert duration column to integer type
completed_deliveries = df2.withColumn("duration_min", col("duration").cast("int"))

# compute min and max durations
min_duration = completed_deliveries.agg({"duration_min": "min"}).collect()[0][0]
max_duration = completed_deliveries.agg({"duration_min": "max"}).collect()[0][0]

# calculate difference between max and min durations
duration_diff = max_duration - min_duration

print("Difference between longest and shortest delivery times: {} min".format(duration_diff))

Difference between longest and shortest delivery times: 30 min

### 6. What was the average speed for each runner for each delivery and do you notice any trend for these values?

In [60]:
df21 = df2.fillna("0")
df21.show()

+--------+---------+-------------------+--------+--------+--------------------+
|order_id|runner_id|        pickup_time|distance|duration|        cancellation|
+--------+---------+-------------------+--------+--------+--------------------+
|       1|        1|2020-01-01 18:15:34|      20|     32 |                    |
|       2|        1|2020-01-01 19:10:54|      20|     27 |                    |
|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                   0|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                   0|
|       5|        3|2020-01-08 21:10:57|      10|      15|                   0|
|       6|        3|                  0|       0|       0|Restaurant Cancel...|
|       7|        2|2020-01-08 21:30:45|      25|      25|                null|
|       8|        2|2020-01-10 00:15:02|   23.4 |     15 |                null|
|       9|        2|                  0|       0|       0|Customer Cancella...|
|      10|        1|2020-01-11 18:50:20|      10|      10|                null|
+--------+---------+-------------------+--------+--------+--------------------+

In [61]:
from pyspark.sql.functions import avg

AVG_Speed = df21 \
       .filter(col("distance") != "0")\
       .groupBy("runner_id", "order_id")\
       .agg(avg(round((col("distance") * 60) / col("duration"), 1)).alias("speedKMH"))\
       .orderBy("runner_id")\
      
AVG_Speed.show()

+---------+--------+--------+
|runner_id|order_id|speedKMH|
+---------+--------+--------+
|        1|       1|    37.5|
|        1|       2|    44.4|
|        1|      10|    60.0|
|        1|       3|    40.2|
|        2|       8|    93.6|
|        2|       4|    35.1|
|        2|       7|    60.0|
|        3|       5|    40.0|
+---------+--------+--------+

# 7. What is the successful delivery percentage for each runner?

In [62]:
df21.show()

+--------+---------+-------------------+--------+--------+--------------------+
|order_id|runner_id|        pickup_time|distance|duration|        cancellation|
+--------+---------+-------------------+--------+--------+--------------------+
|       1|        1|2020-01-01 18:15:34|      20|     32 |                    |
|       2|        1|2020-01-01 19:10:54|      20|     27 |                    |
|       3|        1|2020-01-03 00:12:37|    13.4|     20 |                   0|
|       4|        2|2020-01-04 13:53:03|    23.4|      40|                   0|
|       5|        3|2020-01-08 21:10:57|      10|      15|                   0|
|       6|        3|                  0|       0|       0|Restaurant Cancel...|
|       7|        2|2020-01-08 21:30:45|      25|      25|                null|
|       8|        2|2020-01-10 00:15:02|   23.4 |     15 |                null|
|       9|        2|                  0|       0|       0|Customer Cancella...|
|      10|        1|2020-01-11 18:50:20|      10|      10|                null|
+--------+---------+-------------------+--------+--------+--------------------+

In [63]:
from pyspark.sql.functions import col, sum, count, when, round

P = df21 \
    .groupBy("runner_id")\
    .agg(sum(when(col("distance") != "0", 1)).alias("Delivered"), count("order_id").alias("Total_Orders"))\
      

M = P\
    .select(col("runner_id"), round((col("Delivered")/col("Total_Orders"))*100).alias("Successfulpercentage"))\
    .orderBy("runner_id")\
    

M.show()

+---------+--------------------+
|runner_id|Successfulpercentage|
+---------+--------------------+
|        1|               100.0|
|        2|                75.0|
|        3|                50.0|
+---------+--------------------+

# C. Ingredient Optimisation

# 1. What are the standard ingredients for each pizza?

In [64]:
df3.show()
df4.show()

+--------+----------+
|pizza_id|pizza_name|
+--------+----------+
|       1|Meatlovers|
|       2|Vegetarian|
+--------+----------+

+--------+--------------------+
|pizza_id|            toppings|
+--------+--------------------+
|       1|1, 2, 3, 4, 5, 6,...|
|       2|  4, 6, 7, 9, 11, 12|
+--------+--------------------+

In [65]:
NewDF = df3.join(df4, df3.pizza_id == df4.pizza_id, how = 'inner').select(df3["*"],df4["toppings"])
NewDF.show()

+--------+----------+--------------------+
|pizza_id|pizza_name|            toppings|
+--------+----------+--------------------+
|       1|Meatlovers|1, 2, 3, 4, 5, 6,...|
|       2|Vegetarian|  4, 6, 7, 9, 11, 12|
+--------+----------+--------------------+

In [66]:
NewDF.printSchema()

root
 |-- pizza_id: long (nullable = true)
 |-- pizza_name: string (nullable = true)
 |-- toppings: string (nullable = true)

In [67]:
from pyspark.sql.functions import split

NewDF = NewDF.withColumn("New_Topp", split(NewDF.toppings, ","))

In [68]:
NewDF.show()

+--------+----------+--------------------+--------------------+
|pizza_id|pizza_name|            toppings|            New_Topp|
+--------+----------+--------------------+--------------------+
|       1|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       2|Vegetarian|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|
+--------+----------+--------------------+--------------------+

In [69]:
df5.show()

+----------+------------+
|topping_id|topping_name|
+----------+------------+
|         1|       Bacon|
|         2|   BBQ Sauce|
|         3|        Beef|
|         4|      Cheese|
|         5|     Chicken|
|         6|   Mushrooms|
|         7|      Onions|
|         8|   Pepperoni|
|         9|     Peppers|
|        10|      Salami|
|        11|    Tomatoes|
|        12|Tomato Sauce|
+----------+------------+

In [70]:
from pyspark.sql.functions import explode


NewDF_exploded = NewDF.select("pizza_id", "pizza_name", explode("New_Topp").alias("topping_id"))


Output = NewDF_exploded.join(df5, on="topping_id")


AF = Output.groupBy("pizza_id", "pizza_name").agg(collect_list("topping_name").alias("all_toppings"))
AF.show()

+--------+----------+--------------------+
|pizza_id|pizza_name|        all_toppings|
+--------+----------+--------------------+
|       1|Meatlovers|[Mushrooms, Chick...|
|       2|Vegetarian|[Onions, Mushroom...|
+--------+----------+--------------------+

# 2. What was the most commonly added extra?

In [71]:
df1.show()
df1.printSchema()

+--------+-----------+--------+----------+------+-------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|
+--------+-----------+--------+----------+------+-------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|
|       2|        101|       1|          |      |2020-01-01 19:00:52|
|       3|        102|       1|          |      |2020-01-02 23:51:23|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|
+--------+-----------+--------+----------+------+-------------------+

root
 |-- order_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- pizza_id: integer (nullable = true)
 |-- exclusions: string (nullable = false)
 |-- extras: string (nullable = false)
 |-- order_time: timestamp (nullable = true)

In [72]:
df_up = df1.filter(df1.extras.isNotNull())
df_up.show()

+--------+-----------+--------+----------+------+-------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|
+--------+-----------+--------+----------+------+-------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|
|       2|        101|       1|          |      |2020-01-01 19:00:52|
|       3|        102|       1|          |      |2020-01-02 23:51:23|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|
+--------+-----------+--------+----------+------+-------------------+

In [73]:
from pyspark.sql.functions import split

df_up = df_up.withColumn("extras_array", split(df_up.extras, ","))
df_up.show()

+--------+-----------+--------+----------+------+-------------------+------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|extras_array|
+--------+-----------+--------+----------+------+-------------------+------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|          []|
|       2|        101|       1|          |      |2020-01-01 19:00:52|          []|
|       3|        102|       1|          |      |2020-01-02 23:51:23|          []|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|      [null]|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|          []|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|          []|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|          []|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|         [1]|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|      [null]|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|         [1]|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|      [null]|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|     [1,  5]|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|      [null]|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|     [1,  4]|
+--------+-----------+--------+----------+------+-------------------+------------+

In [74]:
df_extra = df_up.select(explode(df_up.extras_array).alias("extra")) \
       .groupBy("extra") \
       .agg(count("extra").alias("num_times_added")) \
       .orderBy("num_times_added", ascending=False)

In [75]:

df_extra.show()
df_extra.printSchema()

+-----+---------------+
|extra|num_times_added|
+-----+---------------+
|     |              6|
| null|              4|
|    1|              4|
|    4|              1|
|    5|              1|
+-----+---------------+

root
 |-- extra: string (nullable = false)
 |-- num_times_added: long (nullable = false)

# 3. What was the most common exclusion?

In [76]:
from pyspark.sql.functions import split

df_up1 = df_up.withColumn("exclusions_array", split(df_up.exclusions, ","))
df_up1.show()

+--------+-----------+--------+----------+------+-------------------+------------+----------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|extras_array|exclusions_array|
+--------+-----------+--------+----------+------+-------------------+------------+----------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|          []|              []|
|       2|        101|       1|          |      |2020-01-01 19:00:52|          []|              []|
|       3|        102|       1|          |      |2020-01-02 23:51:23|          []|              []|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|      [null]|              []|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|          []|             [4]|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|          []|             [4]|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|          []|             [4]|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|         [1]|          [null]|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|      [null]|          [null]|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|         [1]|          [null]|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|      [null]|          [null]|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|     [1,  5]|             [4]|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|      [null]|          [null]|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|     [1,  4]|         [2,  6]|
+--------+-----------+--------+----------+------+-------------------+------------+----------------+

In [77]:
df_extra1 = df_up1.select(explode(df_up1.exclusions_array).alias("exclusion")) \
       .groupBy("exclusion") \
       .agg(count("exclusion").alias("num_times_added")) \
       .orderBy("num_times_added", ascending=False)

In [78]:
df_extra1.show()

+---------+---------------+
|exclusion|num_times_added|
+---------+---------------+
|     null|              5|
|         |              4|
|        4|              4|
|        6|              1|
|        2|              1|
+---------+---------------+

##### 4. Generate an order item for each record in the customers_orders table in the format of one of the following:
Meat Lovers
Meat Lovers - Exclude Beef
Meat Lovers - Extra Bacon
Meat Lovers - Exclude Cheese, Bacon - Extra Mushroom, Peppers

In [79]:
df_co = df_up1.join(df4, df_up1.pizza_id == df4.pizza_id, how = 'inner').select(df_up1["order_id"], df_up1["customer_id"], df_up1["pizza_id"],df_up1["extras_array"],df_up1["exclusions_array"],df4["toppings"])
df_co.show()

+--------+-----------+--------+------------+----------------+--------------------+
|order_id|customer_id|pizza_id|extras_array|exclusions_array|            toppings|
+--------+-----------+--------+------------+----------------+--------------------+
|       1|        101|       1|          []|              []|1, 2, 3, 4, 5, 6,...|
|       2|        101|       1|          []|              []|1, 2, 3, 4, 5, 6,...|
|       3|        102|       1|          []|              []|1, 2, 3, 4, 5, 6,...|
|       4|        103|       1|          []|             [4]|1, 2, 3, 4, 5, 6,...|
|       4|        103|       1|          []|             [4]|1, 2, 3, 4, 5, 6,...|
|       5|        104|       1|         [1]|          [null]|1, 2, 3, 4, 5, 6,...|
|       8|        102|       1|      [null]|          [null]|1, 2, 3, 4, 5, 6,...|
|       9|        103|       1|     [1,  5]|             [4]|1, 2, 3, 4, 5, 6,...|
|      10|        104|       1|      [null]|          [null]|1, 2, 3, 4, 5, 6,...|
|      10|        104|       1|     [1,  4]|         [2,  6]|1, 2, 3, 4, 5, 6,...|
|       3|        102|       2|      [null]|              []|  4, 6, 7, 9, 11, 12|
|       4|        103|       2|          []|             [4]|  4, 6, 7, 9, 11, 12|
|       6|        101|       2|      [null]|          [null]|  4, 6, 7, 9, 11, 12|
|       7|        105|       2|         [1]|          [null]|  4, 6, 7, 9, 11, 12|
+--------+-----------+--------+------------+----------------+--------------------+

In [80]:
from pyspark.sql.functions import split

df_co = df_co.withColumn("New_Topp", split(df_co.toppings, ","))
df_co.show()

+--------+-----------+--------+------------+----------------+--------------------+--------------------+
|order_id|customer_id|pizza_id|extras_array|exclusions_array|            toppings|            New_Topp|
+--------+-----------+--------+------------+----------------+--------------------+--------------------+
|       1|        101|       1|          []|              []|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       2|        101|       1|          []|              []|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       3|        102|       1|          []|              []|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       4|        103|       1|          []|             [4]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       4|        103|       1|          []|             [4]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       5|        104|       1|         [1]|          [null]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       8|        102|       1|      [null]|          [null]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       9|        103|       1|     [1,  5]|             [4]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|      10|        104|       1|      [null]|          [null]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|      10|        104|       1|     [1,  4]|         [2,  6]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       3|        102|       2|      [null]|              []|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|
|       4|        103|       2|          []|             [4]|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|
|       6|        101|       2|      [null]|          [null]|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|
|       7|        105|       2|         [1]|          [null]|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|
+--------+-----------+--------+------------+----------------+--------------------+--------------------+

In [81]:
from pyspark.sql.functions import when

df_co = df_co.withColumn("pizza_name", 
                   when(df_co.pizza_id == 1, "Meatlover").otherwise("Vegetarian"))

df_co.show()

+--------+-----------+--------+------------+----------------+--------------------+--------------------+----------+
|order_id|customer_id|pizza_id|extras_array|exclusions_array|            toppings|            New_Topp|pizza_name|
+--------+-----------+--------+------------+----------------+--------------------+--------------------+----------+
|       1|        101|       1|          []|              []|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|       2|        101|       1|          []|              []|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|       3|        102|       1|          []|              []|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|       4|        103|       1|          []|             [4]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|       4|        103|       1|          []|             [4]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|       5|        104|       1|         [1]|          [null]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|       8|        102|       1|      [null]|          [null]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|       9|        103|       1|     [1,  5]|             [4]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|      10|        104|       1|      [null]|          [null]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|      10|        104|       1|     [1,  4]|         [2,  6]|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...| Meatlover|
|       3|        102|       2|      [null]|              []|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|Vegetarian|
|       4|        103|       2|          []|             [4]|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|Vegetarian|
|       6|        101|       2|      [null]|          [null]|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|Vegetarian|
|       7|        105|       2|         [1]|          [null]|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|Vegetarian|
+--------+-----------+--------+------------+----------------+--------------------+--------------------+----------+

In [82]:
from pyspark.sql.functions import explode


NewDF_exploded2 = df_co.select("order_id","customer_id","pizza_id", "pizza_name", explode("exclusions_array").alias("topping_id"))

Output2 = NewDF_exploded2.join(df5, on="topping_id")

AF2 = Output2.groupBy("order_id","customer_id","pizza_id", "pizza_name").agg(collect_list("topping_name").alias("all_toppings"))
AF2.show()

+--------+-----------+--------+----------+--------------------+
|order_id|customer_id|pizza_id|pizza_name|        all_toppings|
+--------+-----------+--------+----------+--------------------+
|      10|        104|       1| Meatlover|[Mushrooms, BBQ S...|
|       4|        103|       2|Vegetarian|            [Cheese]|
|       4|        103|       1| Meatlover|    [Cheese, Cheese]|
|       9|        103|       1| Meatlover|            [Cheese]|
+--------+-----------+--------+----------+--------------------+

In [83]:
from pyspark.sql.functions import concat, when, col, array_contains

# assume df is the DataFrame containing the columns to concatenate
AF2 = AF2.withColumn("new_pizza_name",
                   when(array_contains(col("all_toppings"), "Cheese"),
                        concat(col("pizza_name"), lit("_exclude_cheese"))).otherwise(col("pizza_name")))

AF2.show()

+--------+-----------+--------+----------+--------------------+--------------------+
|order_id|customer_id|pizza_id|pizza_name|        all_toppings|      new_pizza_name|
+--------+-----------+--------+----------+--------------------+--------------------+
|      10|        104|       1| Meatlover|[Mushrooms, BBQ S...|           Meatlover|
|       4|        103|       2|Vegetarian|            [Cheese]|Vegetarian_exclud...|
|       4|        103|       1| Meatlover|    [Cheese, Cheese]|Meatlover_exclude...|
|       9|        103|       1| Meatlover|            [Cheese]|Meatlover_exclude...|
+--------+-----------+--------+----------+--------------------+--------------------+

In [84]:
from pyspark.sql.functions import explode


NewDF_exploded1 = df_co.select("order_id","customer_id","pizza_id", "pizza_name", explode("extras_array").alias("topping_id"))

Output1 = NewDF_exploded1.join(df5, on="topping_id")

AF1 = Output1.groupBy("order_id","customer_id","pizza_id", "pizza_name").agg(collect_list("topping_name").alias("all_toppings"))
AF1.show()

# Meat Lovers
# Meat Lovers - Exclude Beef
# Meat Lovers - Extra Bacon
# Meat Lovers - Exclude Cheese, Bacon - Extra Mushroom, Peppers

+--------+-----------+--------+----------+----------------+
|order_id|customer_id|pizza_id|pizza_name|    all_toppings|
+--------+-----------+--------+----------+----------------+
|      10|        104|       1| Meatlover| [Bacon, Cheese]|
|       5|        104|       1| Meatlover|         [Bacon]|
|       7|        105|       2|Vegetarian|         [Bacon]|
|       9|        103|       1| Meatlover|[Chicken, Bacon]|
+--------+-----------+--------+----------+----------------+

In [85]:
from pyspark.sql.functions import concat, when, col, array_contains

# assume df is the DataFrame containing the columns to concatenate
AF1 = AF1.withColumn("new_pizza_name",
                   when(array_contains(col("all_toppings"), "Bacon"),
                        concat(col("pizza_name"), lit("_extra_Bacon_"))).otherwise(col("pizza_name")))

AF1.show()

+--------+-----------+--------+----------+----------------+--------------------+
|order_id|customer_id|pizza_id|pizza_name|    all_toppings|      new_pizza_name|
+--------+-----------+--------+----------+----------------+--------------------+
|      10|        104|       1| Meatlover| [Bacon, Cheese]|Meatlover_extra_B...|
|       5|        104|       1| Meatlover|         [Bacon]|Meatlover_extra_B...|
|       7|        105|       2|Vegetarian|         [Bacon]|Vegetarian_extra_...|
|       9|        103|       1| Meatlover|[Chicken, Bacon]|Meatlover_extra_B...|
+--------+-----------+--------+----------+----------------+--------------------+

In [86]:
union_df =AF2.union(AF1)
union_df.show()

# Meat Lovers
# Meat Lovers - Exclude Beef
# Meat Lovers - Extra Bacon
# Meat Lovers - Exclude Cheese, Bacon - Extra Mushroom, Peppers

+--------+-----------+--------+----------+--------------------+--------------------+
|order_id|customer_id|pizza_id|pizza_name|        all_toppings|      new_pizza_name|
+--------+-----------+--------+----------+--------------------+--------------------+
|      10|        104|       1| Meatlover|[Mushrooms, BBQ S...|           Meatlover|
|       4|        103|       2|Vegetarian|            [Cheese]|Vegetarian_exclud...|
|       4|        103|       1| Meatlover|    [Cheese, Cheese]|Meatlover_exclude...|
|       9|        103|       1| Meatlover|            [Cheese]|Meatlover_exclude...|
|      10|        104|       1| Meatlover|     [Bacon, Cheese]|Meatlover_extra_B...|
|       5|        104|       1| Meatlover|             [Bacon]|Meatlover_extra_B...|
|       7|        105|       2|Vegetarian|             [Bacon]|Vegetarian_extra_...|
|       9|        103|       1| Meatlover|    [Chicken, Bacon]|Meatlover_extra_B...|
+--------+-----------+--------+----------+--------------------+--------------------+

# 5. Generate an alphabetically ordered comma separated ingredient list for each pizza order from the customer_orders table and add a 2x in front of any relevant ingredients
For example: "Meat Lovers: 2xBacon, Beef, ... , Salami"

In [87]:
New_Alpha = df1.join(df3, df1.pizza_id == df3.pizza_id, how = 'inner').select(df1["*"], df3["pizza_name"])
New_Alpha.show()

+--------+-----------+--------+----------+------+-------------------+----------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|pizza_name|
+--------+-----------+--------+----------+------+-------------------+----------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|Meatlovers|
|       2|        101|       1|          |      |2020-01-01 19:00:52|Meatlovers|
|       3|        102|       1|          |      |2020-01-02 23:51:23|Meatlovers|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|Meatlovers|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|Meatlovers|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|Meatlovers|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|Meatlovers|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|Meatlovers|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|Meatlovers|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|Meatlovers|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|Vegetarian|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|Vegetarian|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|Vegetarian|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|Vegetarian|
+--------+-----------+--------+----------+------+-------------------+----------+

In [88]:
New_Alpha1 = New_Alpha.join(df4, New_Alpha.pizza_id == df4.pizza_id, how = 'inner').select(New_Alpha["*"],df4["toppings"])
from pyspark.sql.functions import split

New_Alpha1 = New_Alpha1.withColumn("New_Topp", split(NewDF.toppings, ","))
New_Alpha1.show()

+--------+-----------+--------+----------+------+-------------------+----------+--------------------+--------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|pizza_name|            toppings|            New_Topp|
+--------+-----------+--------+----------+------+-------------------+----------+--------------------+--------------------+
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       3|        102|       1|          |      |2020-01-02 23:51:23|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       2|        101|       1|          |      |2020-01-01 19:00:52|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       1|        101|       1|          |      |2020-01-01 18:05:02|Meatlovers|1, 2, 3, 4, 5, 6,...|[1,  2,  3,  4,  ...|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|Vegetarian|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|Vegetarian|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|Vegetarian|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|Vegetarian|  4, 6, 7, 9, 11, 12|[4,  6,  7,  9,  ...|
+--------+-----------+--------+----------+------+-------------------+----------+--------------------+--------------------+

In [89]:
from pyspark.sql.functions import explode


New_Alpha2 = New_Alpha1.select("order_id", "pizza_id","pizza_name", explode("New_Topp").alias("topping_id"))


New_Alpha3 = New_Alpha2.join(df5, on="topping_id")


New_Alpha4 = New_Alpha3.groupBy("order_id","pizza_id","pizza_name").agg(collect_list("topping_name").alias("all_toppings"))
New_Alpha4.show()

+--------+--------+----------+--------------------+
|order_id|pizza_id|pizza_name|        all_toppings|
+--------+--------+----------+--------------------+
|       9|       1|Meatlovers|[Mushrooms, Chick...|
|       1|       1|Meatlovers|[Mushrooms, Chick...|
|       4|       2|Vegetarian|[Onions, Mushroom...|
|       6|       2|Vegetarian|[Onions, Mushroom...|
|      10|       1|Meatlovers|[Mushrooms, Mushr...|
|       3|       1|Meatlovers|[Mushrooms, Chick...|
|       4|       1|Meatlovers|[Mushrooms, Mushr...|
|       2|       1|Meatlovers|[Mushrooms, Chick...|
|       3|       2|Vegetarian|[Onions, Mushroom...|
|       8|       1|Meatlovers|[Mushrooms, Chick...|
|       7|       2|Vegetarian|[Onions, Mushroom...|
|       5|       1|Meatlovers|[Mushrooms, Chick...|
+--------+--------+----------+--------------------+

In [90]:
from pyspark.sql.functions import concat, concat_ws, sort_array

# Sort the all_toppings array column in alphabetical order
sorted_toppings = sort_array(New_Alpha4.all_toppings)

# Concatenate the pizza_name and sorted_toppings columns
concatenated_cols = concat_ws(": ", New_Alpha4.pizza_name, sorted_toppings)

# Add the concatenated columns as a new column to the DataFrame
New_Alpha5 = New_Alpha4.withColumn("pizza_with_toppings", concatenated_cols)

New_Alpha5 = New_Alpha5.orderBy("order_id")

# Show the result
New_Alpha5.show()

+--------+--------+----------+--------------------+--------------------+
|order_id|pizza_id|pizza_name|        all_toppings| pizza_with_toppings|
+--------+--------+----------+--------------------+--------------------+
|       1|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: BBQ S...|
|       2|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: BBQ S...|
|       3|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: BBQ S...|
|       3|       2|Vegetarian|[Onions, Mushroom...|Vegetarian: Chees...|
|       4|       2|Vegetarian|[Onions, Mushroom...|Vegetarian: Chees...|
|       4|       1|Meatlovers|[Mushrooms, Mushr...|Meatlovers: BBQ S...|
|       5|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: BBQ S...|
|       6|       2|Vegetarian|[Onions, Mushroom...|Vegetarian: Chees...|
|       7|       2|Vegetarian|[Onions, Mushroom...|Vegetarian: Chees...|
|       8|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: BBQ S...|
|       9|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: BBQ S...|
|      10|       1|Meatlovers|[Mushrooms, Mushr...|Meatlovers: BBQ S...|
+--------+--------+----------+--------------------+--------------------+

In [91]:
from pyspark.sql.functions import regexp_replace


New_Alpha5 = New_Alpha5.withColumn('pizza_with_toppings', 
                   regexp_replace('pizza_with_toppings', 
                                   'BBQ', 
                                   '2x BBQ'))
New_Alpha5 = New_Alpha5.withColumn('pizza_with_toppings', 
                   regexp_replace('pizza_with_toppings', 
                                   'Cheese', 
                                   '2x Cheese'))


New_Alpha5.show()

+--------+--------+----------+--------------------+--------------------+
|order_id|pizza_id|pizza_name|        all_toppings| pizza_with_toppings|
+--------+--------+----------+--------------------+--------------------+
|       1|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: 2x BB...|
|       2|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: 2x BB...|
|       3|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: 2x BB...|
|       3|       2|Vegetarian|[Onions, Mushroom...|Vegetarian: 2x Ch...|
|       4|       2|Vegetarian|[Onions, Mushroom...|Vegetarian: 2x Ch...|
|       4|       1|Meatlovers|[Mushrooms, Mushr...|Meatlovers: 2x BB...|
|       5|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: 2x BB...|
|       6|       2|Vegetarian|[Onions, Mushroom...|Vegetarian: 2x Ch...|
|       7|       2|Vegetarian|[Onions, Mushroom...|Vegetarian: 2x Ch...|
|       8|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: 2x BB...|
|       9|       1|Meatlovers|[Mushrooms, Chick...|Meatlovers: 2x BB...|
|      10|       1|Meatlovers|[Mushrooms, Mushr...|Meatlovers: 2x BB...|
+--------+--------+----------+--------------------+--------------------+

### 6. What is the total quantity of each ingredient used in all delivered pizzas sorted by most frequent first?

In [92]:
df1.show()

+--------+-----------+--------+----------+------+-------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|
+--------+-----------+--------+----------+------+-------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|
|       2|        101|       1|          |      |2020-01-01 19:00:52|
|       3|        102|       1|          |      |2020-01-02 23:51:23|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|
+--------+-----------+--------+----------+------+-------------------+

In [93]:
from pyspark.sql.functions import explode, count

ingredient_counts = New_Alpha4.select(explode("all_toppings").alias("toppings_name")) \
                                     .groupBy("toppings_name") \
                                     .agg(count("*").alias("total_quantity")) \
                                     .orderBy("total_quantity", ascending=False)

ingredient_counts.show()

+-------------+--------------+
|toppings_name|total_quantity|
+-------------+--------------+
|    Mushrooms|            14|
|       Cheese|            14|
|         Beef|            10|
|      Chicken|            10|
|        Bacon|            10|
|    Pepperoni|            10|
|    BBQ Sauce|            10|
|       Salami|            10|
|       Onions|             4|
|     Tomatoes|             4|
|      Peppers|             4|
| Tomato Sauce|             4|
+-------------+--------------+

# D. Pricing and Ratings

###### 1. If a Meat Lovers pizza costs  $12 and Vegetarian costs $10 and there were no charges for changes - how much money has Pizza Runner made so far if there are no delivery fees?

In [94]:
from pyspark.sql.functions import sum, when, col

T_Price  = df3.select("pizza_id", "pizza_name", when(col("pizza_name") == "Meatlovers", 12).otherwise(10).alias("pizza_cost"))
T_Price.show()

+--------+----------+----------+
|pizza_id|pizza_name|pizza_cost|
+--------+----------+----------+
|       1|Meatlovers|        12|
|       2|Vegetarian|        10|
+--------+----------+----------+

In [95]:
T_Price2 = df1.join(df2, df1.order_id == df2.order_id, how = 'inner').select(df1["*"],df2["runner_id"], df2["cancellation"])
T_Price2.show()

+--------+-----------+--------+----------+------+-------------------+---------+--------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|runner_id|        cancellation|
+--------+-----------+--------+----------+------+-------------------+---------+--------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|        1|                    |
|       2|        101|       1|          |      |2020-01-01 19:00:52|        1|                    |
|       3|        102|       1|          |      |2020-01-02 23:51:23|        1|                null|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|        1|                null|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|        2|                null|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|        2|                null|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|        2|                null|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|        3|                null|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|        3|Restaurant Cancel...|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|        2|                null|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|        2|                null|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|        2|Customer Cancella...|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|        1|                null|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|        1|                null|
+--------+-----------+--------+----------+------+-------------------+---------+--------------------+

In [96]:
T_Price3 = T_Price2.join(T_Price, T_Price2.pizza_id == T_Price.pizza_id, how = 'inner').select(T_Price2["*"],T_Price["pizza_cost"])

T_Price3.show()

+--------+-----------+--------+----------+------+-------------------+---------+--------------------+----------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|runner_id|        cancellation|pizza_cost|
+--------+-----------+--------+----------+------+-------------------+---------+--------------------+----------+
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|        1|                null|        12|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|        1|                null|        12|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|        2|Customer Cancella...|        12|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|        2|                null|        12|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|        3|                null|        12|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|        2|                null|        12|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|        2|                null|        12|
|       3|        102|       1|          |      |2020-01-02 23:51:23|        1|                null|        12|
|       2|        101|       1|          |      |2020-01-01 19:00:52|        1|                    |        12|
|       1|        101|       1|          |      |2020-01-01 18:05:02|        1|                    |        12|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|        2|                null|        10|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|        3|Restaurant Cancel...|        10|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|        2|                null|        10|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|        1|                null|        10|
+--------+-----------+--------+----------+------+-------------------+---------+--------------------+----------+

In [97]:

total_revenue_df = T_Price3\
                    .groupBy("runner_id")\
                    .agg(sum(col("pizza_cost")).alias("total_revenue"))\
                   

total_revenue_df.show()

+---------+-------------+
|runner_id|total_revenue|
+---------+-------------+
|        3|           22|
|        1|           70|
|        2|           68|
+---------+-------------+

# 2. What if there was an additional $1 charge for any pizza extras?

    Add cheese is $1 extra

In [98]:
from pyspark.sql.functions import sum, when, col

ADD_Price = df1.join(df2, df1.order_id == df2.order_id, how = 'inner').select(df1["*"],df2["runner_id"], df2["cancellation"])
ADD_Price.show()

+--------+-----------+--------+----------+------+-------------------+---------+--------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|runner_id|        cancellation|
+--------+-----------+--------+----------+------+-------------------+---------+--------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|        1|                    |
|       2|        101|       1|          |      |2020-01-01 19:00:52|        1|                    |
|       3|        102|       1|          |      |2020-01-02 23:51:23|        1|                null|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|        1|                null|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|        2|                null|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|        2|                null|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|        2|                null|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|        3|                null|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|        3|Restaurant Cancel...|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|        2|                null|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|        2|                null|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|        2|Customer Cancella...|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|        1|                null|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|        1|                null|
+--------+-----------+--------+----------+------+-------------------+---------+--------------------+

In [99]:
ADD_Price1  = ADD_Price \
          .select(when(col("pizza_id") == "1", 12).otherwise(10).alias("pizza_cost"), "exclusions", "extras")\

ADD_Price1.show()

+----------+----------+------+
|pizza_cost|exclusions|extras|
+----------+----------+------+
|        12|          |      |
|        12|          |      |
|        12|          |      |
|        10|          |  null|
|        12|         4|      |
|        12|         4|      |
|        10|         4|      |
|        12|      null|     1|
|        10|      null|  null|
|        10|      null|     1|
|        12|      null|  null|
|        12|         4|  1, 5|
|        12|      null|  null|
|        12|      2, 6|  1, 4|
+----------+----------+------+

In [100]:

ADD_revenue_df = ADD_Price1.select(
  sum(
    when(col("extras").isNull(), col("pizza_cost"))
      .when(length(col("extras")) == 1, col("pizza_cost") + 1)
      .otherwise(col("pizza_cost") + 2)
  ).alias("total_earn")
)

ADD_revenue_df.show()

+----------+
|total_earn|
+----------+
|       186|
+----------+

## 3. The Pizza Runner team now wants to add an additional ratings system that allows customers to rate their runner, how would you design an additional table for this new dataset - generate a schema for this new table and insert your own data for ratings for each successful customer order between 1 to 5.

In [101]:
from pyspark.sql.functions import *

data = [(1, 3), (2, 4), (3, 5), (4, 2), (5, 1), (6, 3), (7, 4), (8, 1), (9, 3), (10, 5)]
schema = StructType([StructField("order_id", IntegerType(), True), StructField("rating", IntegerType(), True)])
ratings_df = spark.createDataFrame(data, schema)

ratings_df.show()

+--------+------+
|order_id|rating|
+--------+------+
|       1|     3|
|       2|     4|
|       3|     5|
|       4|     2|
|       5|     1|
|       6|     3|
|       7|     4|
|       8|     1|
|       9|     3|
|      10|     5|
+--------+------+

## 4. Using your newly generated table - can you join all of the information together to form a table which has the following information for successful deliveries?
    customer_id
    order_id
    runner_id
    rating
    order_time
    pickup_time

In [102]:
A_Price = df1.join(df2, df1.order_id == df2.order_id, how = 'inner').select(df1["*"],df2["runner_id"], df2["duration"],df2["distance"],df2["pickup_time"], df2["cancellation"])
A_Price.show()

+--------+-----------+--------+----------+------+-------------------+---------+--------+--------+-------------------+--------------------+
|order_id|customer_id|pizza_id|exclusions|extras|         order_time|runner_id|duration|distance|        pickup_time|        cancellation|
+--------+-----------+--------+----------+------+-------------------+---------+--------+--------+-------------------+--------------------+
|       1|        101|       1|          |      |2020-01-01 18:05:02|        1|     32 |      20|2020-01-01 18:15:34|                    |
|       2|        101|       1|          |      |2020-01-01 19:00:52|        1|     27 |      20|2020-01-01 19:10:54|                    |
|       3|        102|       1|          |      |2020-01-02 23:51:23|        1|     20 |    13.4|2020-01-03 00:12:37|                null|
|       3|        102|       2|          |  null|2020-01-02 23:51:23|        1|     20 |    13.4|2020-01-03 00:12:37|                null|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|        2|      40|    23.4|2020-01-04 13:53:03|                null|
|       4|        103|       1|         4|      |2020-01-04 13:23:46|        2|      40|    23.4|2020-01-04 13:53:03|                null|
|       4|        103|       2|         4|      |2020-01-04 13:23:46|        2|      40|    23.4|2020-01-04 13:53:03|                null|
|       5|        104|       1|      null|     1|2020-01-08 21:00:29|        3|      15|      10|2020-01-08 21:10:57|                null|
|       6|        101|       2|      null|  null|2020-01-08 21:03:13|        3|    null|    null|               null|Restaurant Cancel...|
|       7|        105|       2|      null|     1|2020-01-08 21:20:29|        2|      25|      25|2020-01-08 21:30:45|                null|
|       8|        102|       1|      null|  null|2020-01-09 23:54:33|        2|     15 |   23.4 |2020-01-10 00:15:02|                null|
|       9|        103|       1|         4|  1, 5|2020-01-10 11:22:59|        2|    null|    null|               null|Customer Cancella...|
|      10|        104|       1|      null|  null|2020-01-11 18:34:49|        1|      10|      10|2020-01-11 18:50:20|                null|
|      10|        104|       1|      2, 6|  1, 4|2020-01-11 18:34:49|        1|      10|      10|2020-01-11 18:50:20|                null|
+--------+-----------+--------+----------+------+-------------------+---------+--------+--------+-------------------+--------------------+

In [103]:
New_Table = A_Price.join(ratings_df, ratings_df.order_id == A_Price.order_id, how = 'inner').select( A_Price["customer_id"],A_Price["pizza_id"] ,A_Price["order_id"],A_Price["runner_id"],ratings_df["rating"],A_Price["order_time"], A_Price["pickup_time"], A_Price["duration"], A_Price["distance"],A_Price["cancellation"])
New_Table.show()

+-----------+--------+--------+---------+------+-------------------+-------------------+--------+--------+--------------------+
|customer_id|pizza_id|order_id|runner_id|rating|         order_time|        pickup_time|duration|distance|        cancellation|
+-----------+--------+--------+---------+------+-------------------+-------------------+--------+--------+--------------------+
|        101|       1|       1|        1|     3|2020-01-01 18:05:02|2020-01-01 18:15:34|     32 |      20|                    |
|        101|       2|       6|        3|     3|2020-01-08 21:03:13|               null|    null|    null|Restaurant Cancel...|
|        102|       2|       3|        1|     5|2020-01-02 23:51:23|2020-01-03 00:12:37|     20 |    13.4|                null|
|        102|       1|       3|        1|     5|2020-01-02 23:51:23|2020-01-03 00:12:37|     20 |    13.4|                null|
|        104|       1|       5|        3|     1|2020-01-08 21:00:29|2020-01-08 21:10:57|      15|      10|                null|
|        103|       1|       9|        2|     3|2020-01-10 11:22:59|               null|    null|    null|Customer Cancella...|
|        103|       2|       4|        2|     2|2020-01-04 13:23:46|2020-01-04 13:53:03|      40|    23.4|                null|
|        103|       1|       4|        2|     2|2020-01-04 13:23:46|2020-01-04 13:53:03|      40|    23.4|                null|
|        103|       1|       4|        2|     2|2020-01-04 13:23:46|2020-01-04 13:53:03|      40|    23.4|                null|
|        102|       1|       8|        2|     1|2020-01-09 23:54:33|2020-01-10 00:15:02|     15 |   23.4 |                null|
|        105|       2|       7|        2|     4|2020-01-08 21:20:29|2020-01-08 21:30:45|      25|      25|                null|
|        104|       1|      10|        1|     5|2020-01-11 18:34:49|2020-01-11 18:50:20|      10|      10|                null|
|        104|       1|      10|        1|     5|2020-01-11 18:34:49|2020-01-11 18:50:20|      10|      10|                null|
|        101|       1|       2|        1|     4|2020-01-01 19:00:52|2020-01-01 19:10:54|     27 |      20|                    |
+-----------+--------+--------+---------+------+-------------------+-------------------+--------+--------+--------------------+

In [104]:
Final_Table1 =New_Table\
                .select("customer_id", "order_id", "runner_id", "rating", "order_time",
                                "pickup_time", ((col("pickup_time").cast("long") - col("order_time").cast("long")) / 60).alias("Time__order_pickup"), 
                                "duration", "distance", "pizza_id")


Final_result = Final_Table1.groupBy("customer_id", "order_id", "runner_id", "rating", "order_time", "pickup_time", "Time__order_pickup", "duration") \
               .agg(round(avg(col("distance") / col("duration") * 60), 2).alias("avg_Speed"),
                    count(when(col("pizza_id").isNotNull(), 1)).alias("Pizza_Count")) \
               .orderBy("customer_id")

Final_result.show()

+-----------+--------+---------+------+-------------------+-------------------+------------------+--------+---------+-----------+
|customer_id|order_id|runner_id|rating|         order_time|        pickup_time|Time__order_pickup|duration|avg_Speed|Pizza_Count|
+-----------+--------+---------+------+-------------------+-------------------+------------------+--------+---------+-----------+
|        101|       2|        1|     4|2020-01-01 19:00:52|2020-01-01 19:10:54|              null|     27 |    44.44|          1|
|        101|       6|        3|     3|2020-01-08 21:03:13|               null|              null|    null|     null|          1|
|        101|       1|        1|     3|2020-01-01 18:05:02|2020-01-01 18:15:34|              null|     32 |     37.5|          1|
|        102|       3|        1|     5|2020-01-02 23:51:23|2020-01-03 00:12:37|              null|     20 |     40.2|          2|
|        102|       8|        2|     1|2020-01-09 23:54:33|2020-01-10 00:15:02|              null|     15 |     93.6|          1|
|        103|       4|        2|     2|2020-01-04 13:23:46|2020-01-04 13:53:03|              null|      40|     35.1|          3|
|        103|       9|        2|     3|2020-01-10 11:22:59|               null|              null|    null|     null|          1|
|        104|       5|        3|     1|2020-01-08 21:00:29|2020-01-08 21:10:57|              null|      15|     40.0|          1|
|        104|      10|        1|     5|2020-01-11 18:34:49|2020-01-11 18:50:20|              null|      10|     60.0|          2|
|        105|       7|        2|     4|2020-01-08 21:20:29|2020-01-08 21:30:45|              null|      25|     60.0|          1|
+-----------+--------+---------+------+-------------------+-------------------+------------------+--------+---------+-----------+

# 5. If a Meat Lovers pizza was $12 and Vegetarian $10 fixed prices with no cost for extras and each runner is paid $0.30 per kilometre traveled - how much money does Pizza Runner have left over after these deliveries?

In [105]:
from pyspark.sql.functions import when, sum

final_cte = df3.join(df1, df1.pizza_id == df3.pizza_id, how = 'inner').select(df1["*"],df3["pizza_name"])\
       .groupBy("order_id")\
       .agg(sum(when(df3.pizza_name == "Meatlovers", 12).otherwise(10)).alias("pizza_cost"))\

final_cte.show()
      

F_result = df2.join(final_cte, df2.order_id == final_cte.order_id, how = 'inner')\
          .agg(sum(final_cte.pizza_cost).alias("revenue"), 
               sum((df2.distance) * 0.3).alias("total_cost"), 
               (sum(final_cte.pizza_cost) - sum(df2.distance) * 0.3).alias("profit"))\
         

F_result.show()

+--------+----------+
|order_id|pizza_cost|
+--------+----------+
|       1|        12|
|       6|        10|
|       3|        22|
|       5|        12|
|       9|        12|
|       4|        34|
|       8|        12|
|       7|        10|
|      10|        24|
|       2|        12|
+--------+----------+

+-------+----------+------+
|revenue|total_cost|profit|
+-------+----------+------+
|    160|     43.56|116.44|
+-------+----------+------+